<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>DDSW - Time to Deploy!! In QA :) :)</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>2</artifactDaysToKeep>
    <artifactNumToKeep>4</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.gitlablogo.GitlabLogoProperty plugin="gitlab-logo@1.0.1">
      <repositoryName></repositoryName>
    </org.jenkinsci.plugins.gitlablogo.GitlabLogoProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>ENVIRONMENT</name>
          <description>Target Environment for the deployment!</description>
          <__uuid>f50839e2-e104-417e-b089-da6ed40c44ca</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;qa&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>RELEASE_ID</name>
          <description>Release ID to be deployed!!!</description>
          <__uuid>e04fb15b-02ed-4c91-a656-06020e45b83f</__uuid>
          <__remote>false</__remote>
          <__script>proc = [&apos;/bin/bash&apos;, &apos;-c&apos;, &quot;/usr/local/bin/git config --global credential.helper store&quot;].execute()

proc1 = [&apos;/bin/bash&apos;, &apos;-c&apos;, &quot;/usr/local/bin/git pull --rebase&quot;].execute()

proc2 = [&apos;/bin/bash&apos;, &apos;-c&apos;, &quot;git describe --tags --abbrev=0 `git rev-list --tags --max-count=2`&quot;].execute()
proc3 = [&apos;/bin/bash&apos;, &apos;-c&apos;, &quot;sed s%^ddsw-%%&quot;].execute()

all = proc2 | proc3
String result = all.text

String filename = &quot;/tmp/releases.txt&quot;
boolean success = new File(filename).write(result)

def multiline = &quot;cat /tmp/releases.txt&quot;.execute().text
def list = multiline.readLines()</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEPLOY_MAP_REDUCE</name>
          <description>Should Map Reduce Code (XML Ingest) be Deployed?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEPLOY_UDF</name>
          <description>Should Custom UDF Code be Deployed?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>WORKFLOWS</name>
          <description>Workflow(s) to be Deployed!</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>all</string>
              <string>customer</string>
              <string>dealer_hierarchy</string>
              <string>dealer_inventory</string>
              <string>dealer_part_master</string>
              <string>equipment</string>
              <string>invoice</string>
              <string>parts_point_of_use</string>
              <string>work_order</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>OOZIE_HOME</name>
          <description></description>
          <__uuid>a591441e-1148-4dac-832e-05d6788f4aee</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;/projects/ddsw/qa/code/oozie&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>COMMON_HOME</name>
          <description></description>
          <__uuid>fc366e94-d51b-4d57-8d97-571c33f47d38</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;/projects/ddsw/qa/code/common&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>MAP_REDUCE_HOME</name>
          <description></description>
          <__uuid>2a13a37e-7f25-46f0-952e-963bc154c972</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;/projects/ddsw/qa/code/lib&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>UDF_HOME</name>
          <description></description>
          <__uuid>1b570dd7-3dea-41cb-930a-b1a50fa747b6</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;/opt/hive-udfs&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>TEMP_DIR</name>
          <description></description>
          <__uuid>f424d24f-2884-48f6-9d29-1bb10afb7567</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;/tmp/stage&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>OOZIE_WEB_ROOT</name>
          <description></description>
          <__uuid>90af2276-7d20-41cc-ba21-0ff88ac0b260</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;http://hdtedge1.lrd.cat.com:11000/oozie/&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>OOZIE_USER</name>
          <description></description>
          <__uuid>16e058c4-b28e-47f7-a212-f63a76267721</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;hdddwa90&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>OOZIE_JOB_NAME_PREFIX</name>
          <description></description>
          <__uuid>0cbbe8e4-bd52-4e7b-8834-51ffba33e0a1</__uuid>
          <__remote>false</__remote>
          <__script>return &quot;&apos;ddsw -&gt; qa&apos;&quot;</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/ddsw/jenkins/home/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>true</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.4.0">
          <name>GIT_TAGS</name>
          <description></description>
          <uuid>5ad75567-6970-4b69-a87a-85f70921227e</uuid>
          <type>PT_TAG</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <sortMode>DESCENDING_SMART</sortMode>
          <defaultValue></defaultValue>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.4"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://arlgitgisp01.ecorp.cat.com/commercial_data_management/ddsw_dev.git</url>
        <credentialsId>ff531670-0081-4554-9b2c-e12edbd6fa55</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/ddsw-${RELEASE_ID}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>jenkins/scripts/ddsw_stage.sh ${RELEASE_ID} ${ENVIRONMENT}
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>hdtedge1 - DEV</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>./</remoteDirectory>
                  <sourceFiles>tmp/stage/${RELEASE_ID}/**/*.tar,tmp/stage/${RELEASE_ID}/scripts/**/*.sh</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>tmp/stage/</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>chmod 755 /tmp/stage/${RELEASE_ID}/scripts/*

/tmp/stage/${RELEASE_ID}/scripts/ddsw_deploy.sh ${RELEASE_ID} ${ENVIRONMENT} ${DEPLOY_MAP_REDUCE} ${DEPLOY_UDF} ${WORKFLOWS} ${OOZIE_HOME} ${COMMON_HOME}  ${MAP_REDUCE_HOME} ${UDF_HOME} ${TEMP_DIR} ${OOZIE_WEB_ROOT} ${OOZIE_USER} ${OOZIE_JOB_NAME_PREFIX} 
</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>true</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <hudson.tasks.Shell>
      <command>jenkins/scripts/ddsw_local_cleanup.sh ${RELEASE_ID} ${ENVIRONMENT}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.15">
      <recipients>HPatel@ThoughtWorks.com Chalana_Aachin@cat.com Rajendran_Aravind_K@cat.com Tarabadkar_Devendra@cat.com Chappa_Dhanunjay_N@cat.com Sontakke_Dipesh_A@cat.com Chamala_Divya@cat.com Bajwa_Gaganpreet@cat.com Francis_Jonathon@cat.com Heinrich_Matthew@cat.com Kumar_Mrinal@cat.com Singh_Neha_S@cat.com Fouts_Nicholas_R@cat.com Sivajyothi_Pedapenki@cat.com Surya_Praveen@cat.com Jadabonia_Rama@cat.com Holmes_Renee@cat.com Kudamula_Uma_M@cat.com Puranam_Umasankar@cat.com Polali_Vashista@cat.com Gundra_Vijay@cat.com Kodicherla_Vivek_C@cat.com Fouts_Chad@cat.com bvander@thoughtworks.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>